@use "../abstract/extend" as *;

section#about {
    @extend %container;
    margin-top: 1px;
    z-index: 0;
    position: relative;
    // background-color: var(--third-bg-color);
    padding-top: 82px;
    padding-bottom: 80px;

    h2.big {
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 32px;
    }

    strong {
        color: var(--neutre-color);
    }
}

#list-of-about {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
        font-size: 16px;

        h4 {
            text-align: center;
            position: relative;
            margin: 24px auto;

            span {
                display: inline-block;
                position: relative;
                top: -4px; left: -1px;
                height: 5px; width: 5px;
                border-radius: 50px;
                background-color: var(--dark-sienna);
            }
        }

        p {
            position: relative;
            max-width: 430px;
            margin-left: auto;
            margin-right: auto;
            letter-spacing: 1px;

            &::before {
                content: "";
                position: absolute;
                top: 0; left: 0;
                height: 56px; width: 67px;
                opacity: .5;
                transform: scale(.7) translate(-50%, 0);
                z-index: -1;
                background: url(../img/icon-quote.svg) center/cover no-repeat;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    #list-of-about {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 32px;

        li {
            width: 300px;
            
            p {
                max-width: none;
            }
        }
    }
}