@use "../abstract/extend" as *;

#footer {
    @extend %container;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 14px;

    h2 {
        position: relative;
        height: 30px;
    }

    p {
        text-align: center;
    }
}

.footer__navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__link {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: .1s ease;
    font-weight: 400;
    
    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
    }
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: 5%;
        background-color: var(--neutre-color);
        transform: scaleX(0);
        transition: .4s ease;
    }
}