@use "./abstract/" as *;
@use "./layout/header" as *;
@use "./layout/about" as *;
@use "./layout/work" as *;
@use "./layout/footer" as *;
@use "./component/primary-btn" as *;
@use "./component/secondary-btn" as *;

main {
  @extend %container;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  min-height: 600px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    height: 200px;
    width: 350px;
    z-index: -1;
    background: url(../img/main-1-test.svg) center/cover no-repeat;
  }

  strong {
    color: var(--neutre-color);
  }

  p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    letter-spacing: 1.1px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      height: 356px;
      width: 300px;
      background: url(../img/main-desktop-1.svg) center/cover no-repeat;
      z-index: -1;
    }
  }
}
