:root {
    --primary-bg-color: #0A0C48;
    --primary-color: #FFFFFF;
    --secondary-color: #5055DF;
    --secondary-bg-color: hsla(238, 55%, 50%, 0.9);
    --third-bg-color: hsl(238, 46%, 25%);
    --neutre-color: #E35962;
}