:root {
    /* CSS HEX */
    --light-orange: #ffd7b2;
    --orange: #ffbd7f;
    --dark-sienna: #482728;
    --dark-sienna-light: #904e50;
    --blue-yonder: #b2daff;
    
    --neutre-color: #E35962;
}